body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}






#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border-style: solid;
    border-width: thin;
}



.divContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 256px;
}


.newdivContainer {
    flex: 1;
    animation: pulse 3s infinite;
}
