body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

#top h1 {
    display: block;
    font-size: 60px;
    margin-bottom: 100px;
}

#middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    gap: 30px;
}

.btn button {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 50px;
    margin-right: 100px;
    width: 170px;
    cursor: pointer;
}

#box {  
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border-style: solid;
    border-width: thin;
}



.divContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 256px;
}


.newdivContainer {
    flex: 1;
    animation: pulse 3s infinite;
}
